body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Estilo básico para el menú */
.menu {
    background-color: #f0df25;   
    position: absolute;         
    top: 0;                   
    left: 0;                 
    width: 100%;              
    padding: 10px 0;
    list-style: none;
    text-decoration: none;
    margin: 0;
    
}

.elemento_nav {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    

}

nav ul li a:hover {
    background-color: #222;      /* cambia el fondo al pasar el mouse */
    color: #f0f0f0;              /* aclara el texto */
    text-decoration: none;
       /* agrega subrayado */
}

body {
    margin-top: 60px;         /* deja espacio para que el menú fijo no tape el contenido */
}


/*Estilos de inicio*/

.texto_inicio {
background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: aquamarine;
}

/*Estilos de Survey*/
form {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: aquamarine;
}

button {
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.pie {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    position: static;
}

