body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Estilo básico para el menú */
.menu {
    background-color: #7f4d4d;   
    position: absolute;         
    top: 0;                   
    left: 0;                 
    width: 100%;              
    padding: 10px 0;
    list-style: none;
    text-decoration: none;
    margin: 0;
}

.elemento_nav {
    display: inline-block;
    margin: 0 15px;
    
}

body {
    margin-top: 60px;         /* deja espacio para que el menú fijo no tape el contenido */
}


form {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}
